menu "improv-wifi BLE Example"
	config GPIO_RANGE_MAX
		int
		default 33 if IDF_TARGET_ESP32
		default 46 if IDF_TARGET_ESP32S2
		default 48 if IDF_TARGET_ESP32S3
		default 18 if IDF_TARGET_ESP32C2
		default 19 if IDF_TARGET_ESP32C3
		default 30 if IDF_TARGET_ESP32C6

	config IMPROV_WIFI_CAPABILITY_IDENTIFY
		bool "Device supports the identify command"
		default false

	config IMPROV_WIFI_AUTHENTICATION_BUTTON
		bool "Device supports authentication button"
		default false
		help
			Use a GPIO button for authentication.

	config IMPROV_WIFI_CONNECT_TIMEOUT
		int "WiFi provisioning timeout in seconds"
		range 3 60
		default 30
		help
			Timeout in seconds to wait for a successful WiFi connection after receiving the WiFi credentials.
			Valid range: 3-60

	config IMPROV_WIFI_PROVISIONED_URL
		string "Redirect URL after successful provisioning"
		default "https://github.com/zehnm/idf-improv-wifi-ble"
		help
			The URL to return after a successfull provisioning.
		
	menu "improv-wifi identify configuration"
		visible if IMPROV_WIFI_CAPABILITY_IDENTIFY

		choice IMPROV_WIFI_IDENTIFY
			prompt "Choose LED identification option"
			default IMPROV_WIFI_IDENTIFY_LED
			help
				Select identify method:
				- GPIO LED: simple LED on a GPIO output
				- WS2812 LED strip: Espressif led_strip component using an RMT channel
			config IMPROV_WIFI_IDENTIFY_LED
				bool "GPIO LED"
				help
					Set a GPIO to low / high to turn on a LED.
			config IMPROV_WIFI_IDENTIFY_LED_PWN
				bool "PWN LED"
				help
					Use LEDC to control a LED. Supports brightness.
			config IMPROV_WIFI_IDENTIFY_LED_RGB
				bool "PWN RGB LED"
				help
					Use LEDC to control an RGB LED. Supports brightness and color.
			config IMPROV_WIFI_IDENTIFY_LED_STRIP
				bool "WS2812 LED strip using RMT"
				help
					Use led_strip for notification. Supports brightness, color and multiple LEDs.
		endchoice

		menu "Identify option: GPIO LED"
			visible if IMPROV_WIFI_IDENTIFY_LED

			config IMPROV_WIFI_IDENTIFY_LED_GPIO
				depends on IMPROV_WIFI_IDENTIFY_LED
				int "Identify LED GPIO number"
				range 0 GPIO_RANGE_MAX
				default 21 if IDF_TARGET_ESP32
				default 11 if IDF_TARGET_ESP32S2
				default 11 if IDF_TARGET_ESP32S3
				default  5 # C3 and others
				help
					GPIO number (IOxx) to use for LED identification.

			config IMPROV_WIFI_IDENTIFY_LED_ACTIVE_LEVEL
				depends on IMPROV_WIFI_IDENTIFY_LED
				bool "GPIO active level"
				default y
				help
					GPIO active level.
		endmenu

		menu "Identify option: PWN LED"
			visible if IMPROV_WIFI_IDENTIFY_LED_PWN

			config IMPROV_WIFI_IDENTIFY_LED_PWN_GPIO
				depends on IMPROV_WIFI_IDENTIFY_LED_PWN
				int "Identify PWN LED GPIO number"
				range 0 GPIO_RANGE_MAX
				default 21 if IDF_TARGET_ESP32
				default 11 if IDF_TARGET_ESP32S2
				default 11 if IDF_TARGET_ESP32S3
				default  5 # C3 and others
				help
					GPIO number (IOxx) to use for LED identification.

			config IMPROV_WIFI_IDENTIFY_LED_PWN_CHANNEL
				depends on IMPROV_WIFI_IDENTIFY_LED_PWN
				int "LED channel"
				default 0
				help
					LED channel to use for example.
		
			config IMPROV_WIFI_IDENTIFY_LED_PWN_ACTIVE_LEVEL
				depends on IMPROV_WIFI_IDENTIFY_LED_PWN
				bool "GPIO active level"
				default y
				help
					GPIO active level.
		endmenu

		menu "Identify option: RGB LED"
			visible if IMPROV_WIFI_IDENTIFY_LED_RGB

			config IMPROV_WIFI_IDENTIFY_LED_RED_GPIO
				depends on IMPROV_WIFI_IDENTIFY_LED_RGB
				int "Identify RGB LED GPIO red number"
				range 0 GPIO_RANGE_MAX
				default 25 if IDF_TARGET_ESP32
				default 1
				help
					GPIO number (IOxx) to use for red LED identification.

			config IMPROV_WIFI_IDENTIFY_LED_GREEN_GPIO
				depends on IMPROV_WIFI_IDENTIFY_LED_RGB
				int "Identify RGB LED GPIO green number"
				range 0 GPIO_RANGE_MAX
				default 26 if IDF_TARGET_ESP32
				default 2
				help
					GPIO number (IOxx) to use for green LED identification.

			config IMPROV_WIFI_IDENTIFY_LED_BLUE_GPIO
				depends on IMPROV_WIFI_IDENTIFY_LED_RGB
				int "Identify RGB LED GPIO blue number"
				range 0 GPIO_RANGE_MAX
				default 27 if IDF_TARGET_ESP32
				default 3
				help
					GPIO number (IOxx) to use for blue LED identification.
		
			config IMPROV_WIFI_IDENTIFY_LED_RED_CHANNEL
				depends on IMPROV_WIFI_IDENTIFY_LED_RGB
				int "LED red channel"
				default 0
				help
					LED channel to use for red.

			config IMPROV_WIFI_IDENTIFY_LED_GREEN_CHANNEL
				depends on IMPROV_WIFI_IDENTIFY_LED_RGB
				int "LED green channel"
				default 1
				help
					LED channel to use for green.

			config IMPROV_WIFI_IDENTIFY_LED_BLUE_CHANNEL
				depends on IMPROV_WIFI_IDENTIFY_LED_RGB
				int "LED blue channel"
				default 2
				help
					LED channel to use for blue.
								
			config IMPROV_WIFI_IDENTIFY_LED_RGB_ACTIVE_LEVEL
				depends on IMPROV_WIFI_IDENTIFY_LED_RGB
				bool "GPIO active level"
				default y
				help
					GPIO active level.
		endmenu

		menu "Identify option: WS2812 LED strip"
			visible if IMPROV_WIFI_IDENTIFY_LED_STRIP

			config IMPROV_WIFI_IDENTIFY_LED_STRIP_GPIO
				depends on IMPROV_WIFI_IDENTIFY_LED_STRIP
				int "LED strip data line GPIO"
				range 0 GPIO_RANGE_MAX
				default 23
				help
					GPIO number (IOxx) to use for LED strip data line.

			config IMPROV_WIFI_IDENTIFY_LED_STRIP_NUMBER
				depends on IMPROV_WIFI_IDENTIFY_LED_STRIP
				int "Number of LEDs"
				range 1 100
				default 1
				help
					The number of LEDs in the strip.

			choice IMPROV_WIFI_IDENTIFY_PIXEL_FORMAT
				prompt "Pixel format"
				default IMPROV_WIFI_IDENTIFY_PIXEL_FORMAT_GRB
				help
					Select the pixel format of the LED strip.
					GRB is mostly used for surface mounted LEDs.
				config IMPROV_WIFI_IDENTIFY_PIXEL_FORMAT_GRB
					bool "GRB"
				config IMPROV_WIFI_IDENTIFY_PIXEL_FORMAT_GRBW
					bool "GRBW"
			endchoice

			config IMPROV_WIFI_IDENTIFY_PIXEL_FORMAT
				int
				default 0 if IMPROV_WIFI_IDENTIFY_PIXEL_FORMAT_GRB
				default 1 if IMPROV_WIFI_IDENTIFY_PIXEL_FORMAT_GRBW

			config IMPROV_WIFI_IDENTIFY_LED_STRIP_RESOLUTION
				depends on IMPROV_WIFI_IDENTIFY_LED_STRIP
				int "RMT tick resolution"
				default 10000000
				help
					RMT tick resolution, if set to zero, a default resolution (10MHz) will be applied
		
			config IMPROV_WIFI_IDENTIFY_LED_STRIP_INVERT
				depends on IMPROV_WIFI_IDENTIFY_LED_STRIP
				bool "Invert output signal"
				default false
				help
					Whether to invert the output signal

			config IMPROV_WIFI_IDENTIFY_LED_STRIP_DMA
				depends on IMPROV_WIFI_IDENTIFY_LED_STRIP
				bool "Use DMA feature"
				default false
				help
					DMA feature is available on ESP target like ESP32-S3

		endmenu

	endmenu

	menu "improv-wifi authorization configuration"
		visible if IMPROV_WIFI_AUTHENTICATION_BUTTON

		config IMPROV_WIFI_BUTTON_GPIO
			depends on IMPROV_WIFI_AUTHENTICATION_BUTTON
			int "Authentication button GPIO number"
			range 0 GPIO_RANGE_MAX
			default  9 if IDF_TARGET_ESP32C6
			default  0
			help
				GPIO number (IOxx) to use for the authentication button.
				Use the "Component config, IoT Button" settings to configure button press timings.

		config IMPROV_WIFI_AUTHENTICATION_TIMEOUT
			depends on IMPROV_WIFI_AUTHENTICATION_BUTTON
			int "Authorization timeout in seconds"
			range 1 1000
			default 60
			help
				If an Improv service has been authorized by a user interaction,
				the authorization should be automatically revoked after a timeout.

	endmenu

	menu "BLE DeviceInfo configuration"
		config BLE_DEVICE_INFO_MANUFACTURER_NAME
			string "Manufacturer name"
			default "Foobar Inc"
		config BLE_DEVICE_INFO_MODEL_NUMBER
			string "Model number"
			default "Prototype"
		config BLE_DEVICE_INFO_SERIAL_NUMBER
			string "Serial number"
			default "000001"
		config BLE_DEVICE_INFO_HARDWARE_REVISION
			string "Hardware revision"
			default "1.0"
		config BLE_DEVICE_INFO_FIRMWARE_REVISION
			string "Firmware revision"
			default "0.1.0"
	endmenu


endmenu
